* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: #fdfdfd;
}


/*Este es mi nav principal*/
.navbar {
    background-color: #687FE5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

/* div flexible entre el logo y los links*/
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: auto;
    margin: 0 auto;
}

.container-logo-nabvar {
    padding-left: 20px;

}

.logo {
    height: 120px;
    width: auto;
}

/*Estilo del menu de listas*/
.nav-bar {
    display: flex;
    list-style: none;
    gap: 30px;
}

/*Enlaces*/
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #efe5f7;
    color: black;
    border-radius: 100px;

}