* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: white;
}


/*Este es mi nav principal*/
.navbar {
    background-color: #ba06b1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

/* div flexible entre el logo y los links*/
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: auto;
    margin: 0 auto;
}

.container-logo-nabvar {
    padding-left: 20px;

}

.logo {
    height: 120px;
    width: auto;

}

/*Estilo del menu de listas*/
.nav-bar {
    display: flex;
    list-style: none;
    gap: 30px;
}

/*Enlaces*/
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    padding: 8px 12px;
    border-radius: 10px;

}

.nav-link:hover {
    background-color: #efe5f7;
    color: black;
    border-radius: 100px;

}

.nav-bar.activo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #871682;
    width: 100%;
}

.menu-toggle {
    display: none;
}

/*? Media query para el menu desplegable*/
@media (max-width: 768px) {
    /*? Esto es interesante, por que al posicionar el (nav) como relative, hacemos que los hijos siempre cuenten desde el, y no desde el documento completo */

    nav {
        position: relative;
    }

    .nav-bar {
        position: absolute;
        top: 100%;
        left: 23%;
        transform: translateX(0%);
        width: 85%;
        max-width: 200px;
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 0 4px 10px #230d1d;
    }

    .nav-bar.activo {
        display: flex;

    }

    .container-link-nav {
        margin: 10px 0;
        padding: 0;

    }

    .nav-link {
        display: block;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        width: 100%;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        font-size: 25px;
        color: white;
        background-color: #ba06b1;
        border: none;
        padding: 2px;
        margin-top: 40px;
        z-index: 1010;
        margin-left: 20px;
    }


}

/*? Media query para el logo*/
@media (max-width: 768px) {
    .logo {
        max-width: 80%;
        height: auto;
    }

    .container-logo-nabvar {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
}

/*? Estilos para el hero*/

.hero {
    background-image: url("../imagenes/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 25%;
    padding-top: 10%;
}

.hero-card {
    background-color: #871681;
    color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 250px;
    width: 90%;
    transition: transform 0.3s ease;
    user-select: none;
}

.hero-card:hover {
    transform: scale(1.1) translateY(-10%);
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

}

.hero-icon {
    width: 60px;
    margin-top: 1rem;
    height: auto;
    filter: brightness(0) invert(1)
}

.hero-title {
    font-size: 20px;
    color: white;
    padding-bottom: 8px;
}

.hero-subtitle {
    font-size: 30px;
}

/*? Media query para el hero*/

@media (max-width: 768px) {
    .hero {
        justify-content: flex-start;
        align-items: center;
        padding-left: 5%;
        padding-top: 30%;
    }

    .hero-card {
        width: 50%;
        max-width: 250px;
        padding: 1.2rem;
        border-radius: 18;

    }

    .hero-title {
        font-size: 15px;
    }

    .hero-subtitle {
        font-size: 20px;
    }
}