* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background: linear-gradient(to bottom right, #dff6ff, #c0f5e6);
    color: #2d2d2d;
}

/*Este es mi nav principal*/
.navbar {
    background-color: #bd20b5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

/* div flexible entre el logo y los links*/
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: auto;
    margin: 0 auto;
}

.container-logo-nabvar {
    padding-left: 20px;
}

.logo {
    height: 70px;
    width: auto;

}

/*Estilo del menu de listas*/
.nav-bar {
    display: flex;
    list-style: none;
    gap: 30px;
}

/*Enlaces*/
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    padding: 8px 10px;
    border-radius: 10px;
    margin-right: 30px;
    font-family: "Poppins", s;

}

.nav-link:hover {
    background-color: #efe5f7;
    color: black;
    border-radius: 100px;

}

.nav-bar.activo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #871682;
    width: 100%;
}

.menu-toggle {
    display: none;
}

/*? Media query para el menu desplegable*/
@media (max-width: 768px) {
    /*? Esto es interesante, por que al posicionar el (nav) como relative, hacemos que los hijos siempre cuenten desde el, y no desde el documento completo */

    .container-navbar {
        position: relative;
    }

    .nav-bar {
        position: absolute;
        top: calc(100% + 6px);
        border-radius: 15px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, .15);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        pointer-events: none;
        transition: transform .40s ease, opacity .2s ease;
        display: block;
        max-height: min(70vh, 420px);
        z-index: 1010;
    }

    .nav-bar::before {
        content: "";
        position: absolute;
        top: 0;
        left: 1.25rem;
        right: 1.25rem;
        height: 2px;
        background: white;
    }

    .nav-bar.activo {
        transform: scaleY(1);
        opacity: 1;
        pointer-events: auto;
    }

    .container-link-nav {
        width: auto;
    }

    .nav-link {
        display: block;
        padding: 14px 15px;
        font-size: 16px;
        border-radius: 8px;
    }

    .menu-toggle {
        display: flex;
        font-size: 30px;
        color: white;
        background-color: #bd20b5;
        border: none;
        margin-top: 10px;
        z-index: 1010;
        margin-left: 20px;
    }


}

/*? Media query para el logo*/
@media (max-width: 768px) {
    .logo {
        max-width: 75%;
        height: auto;

    }

    .container-logo-nabvar {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
}

/*? Estilos para el hero*/
.hero-text-block {
    position: relative;
    border-left: 4px solid #4b2d88;
    padding-left: 1rem;
    border-radius: 10px;
    padding-right: 1rem;
    margin-bottom: 7rem;
}


.eslogan-hero {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ba06b1;
}

.eslogan-hero2 {
    margin-top: 0;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #c927c1;
    letter-spacing: 0.02rem;

}

.hero {
    background-image: url("../imagenes/HERO-FONDO-WHITE-Photoroom.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 3%;
    padding-top: 7%;
    flex-direction: column;


}

.hero-card {
    background-color: #871681;
    color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 250px;
    width: 90%;
    transition: transform 0.3s ease;
    user-select: none;
    position: relative;
    margin-top: 75px;
    margin-left: 10%;

}

.hero-card:hover {
    transform: scale(1.1) translateY(-10%);
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

}

.hero-icon {
    width: 60px;
    margin-top: 1rem;
    height: auto;
    filter: brightness(0) invert(1)
}

.hero-title {
    font-size: 20px;
    color: white;
    padding-bottom: 8px;
}

.hero-subtitle {
    font-size: 30px;
}

.highlight-bg {
    font-family: "Poppins", sans-serif;
}

/**! Animación para emoji*/
.highlight-bg::after {
    content: "🧼";
    display: inline-block;
    margin-left: 0.3rem;
    animation: floatUp 2s ease-in-out infinite;
    font-size: 0.8em;
}

@keyframes floatUp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

/*? Media query para el hero en celulares medianos*/

@media (max-width: 768px) {
    .hero {
        justify-content: flex-start;
        align-items: center;
        padding: 15% 5% 0 5%;
        flex-direction: column;
    }

    .hero-text-block {
        margin-bottom: 1.4rem;
        border-left: 2px solid #4b2d88;
        margin-bottom: 7rem;
        margin-top: 2rem;
    }

    .eslogan-hero {
        font-size: 30px;
    }

    .eslogan-hero2 {
        font-size: 25px;
    }

    .hero-card {
        width: 50%;
        max-width: 250px;
        padding: 1.2rem;
        border-radius: 60px;
        margin: 0 auto;
        margin-left: 7%;
    }

    .hero-title {
        font-size: 15px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .hero-frase {
        display: none;
    }

}

@media (max-width: 480px) {
    .hero {
        justify-content: flex-start;
        align-items: center;
        padding: 15% 5% 0 5%;
        flex-direction: column;
    }

    .hero-text-block {
        margin-bottom: 1.4rem;
        border-left: 2px solid #4b2d88;
        margin-bottom: 7rem;
        margin-top: 2rem;
    }

    .eslogan-hero {
        font-size: 35px;
    }

    .eslogan-hero2 {
        font-size: 25px;
    }

    .hero-card {
        width: 50%;
        max-width: 250px;
        padding: 1.2rem;
        border-radius: 60px;
        margin: 0 auto;
        margin-left: 7%;
    }

    .hero-title {
        font-size: 15px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .hero-frase {
        display: none;
    }

}

/** Sección de servicios*/

#servicios {
    position: relative;
    background: transparent;
    padding: 4rem 2rem;
}

/* #servicios::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    z-index: 0;
} */

.services-grid>h3 {
    grid-column: 1/-1;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #871682;
    margin-bottom: 2rem;
}

.service {
    display: contents;
}

.service-media img {}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-content:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

/** Alternar en zig-zag con grid, en filas pares*/